.login_page {
    min-height: 100%;
    align-items: center;
    display: flex;
}

.login_card {
    background-color: #1F2833;
    color: #c5c6c7;
    padding: 20px 10px;
    border-radius: 2%;
}

.google_button {
    padding: 0 !important;
    border-radius: 2% !important;
    justify-content: center !important;
    background-color: #1F2833 !important;
    border: none !important;
}